In [1]:
import psycopg2

In [3]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 port=7000 dbname=postgres user=postgres password=example")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)
conn.set_session(autocommit=True)

In [4]:
# TO-DO: Add the CREATE Table Statement and INSERT statements to add the data in the table

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store (transaction_id int, customer_name varchar, cashier_name varchar, year int, albums_puchased varchar)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [5]:
try: 
    cur.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name, year, albums_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1,"Amanda","Sam", 2000, "[Rubber Soul, Let it Be]"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name, year, albums_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2,"Toby", "Sam", 2000, "[My Generation]"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store (transaction_id, customer_name, cashier_name, year, albums_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3,"Max", "Bob", 2018, "[Meet the beatles, help!]"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
    
try: 
    cur.execute("SELECT * FROM music_store;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, '[Rubber Soul, Let it Be]')
(2, 'Toby', 'Sam', 2000, '[My Generation]')
(3, 'Max', 'Bob', 2018, '[Meet the beatles, help!]')

In [7]:
## TO-DO: Complete the CREATE table statements and INSERT statements

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store2 (transaction_id int, customer_name varchar, cashier_name varchar, year int, album_puchased varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [8]:
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, album_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1,"Amanda","Sam", 2000, "Rubber Soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, album_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1,"Amanda","Sam", 2000, "Let it Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, album_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2,"Toby", "Sam", 2000, "My Generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, album_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3,"Max", "Bob", 2018, "Meet the beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (transaction_id, customer_name, cashier_name, year, album_puchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3,"Max", "Bob", 2018, "help!"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM music_store2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, 'Rubber Soul')
(1, 'Amanda', 'Sam', 2000, 'Let it Be')
(2, 'Toby', 'Sam', 2000, 'My Generation')
(3, 'Max', 'Bob', 2018, 'Meet the beatles')
(3, 'Max', 'Bob', 2018, 'help!')

In [10]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions (transaction_id int, customer_name varchar, cashier_name varchar, album_id);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold (album_id int, year int, albums_name varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [ ]:
try: 
    cur.execute("INSERT INTO transactions (#####) \
                 VALUES (%s, %s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transactions (#####) \
                 VALUES (%s, %s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (#####) \
                 VALUES (%s, %s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (#####) \
                 VALUES (%s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (#####) \
                 VALUES (%s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (#####) \
                 VALUES (%s, %s, %s)", \
                 (######))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (#####) \
                 VALUES (%s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (#####) \
                 VALUES (%s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

print("Table: transactions\n")
try: 
    cur.execute("SELECT * FROM transactions;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()